<include file="Common:header"/>
<title>优购优品网</title>
</head>
<body>

	<header class="aui-header-default aui-header-fixed aui-header-bg">
		<a href="#" class="aui-header-item">
			<i class="aui-icon aui-icon-code"></i>
		</a>
		<div class="aui-header-center aui-header-center-clear">
			<div class="aui-header-search-box">
				<!--<i class="aui-icon aui-icon-small-search"></i>-->
                <form method="post" action="{:U('Index/index')}">
				<input id="" type="text"  placeholder="iphonex 手机钢化膜" class="aui-header-search" name="goodsname">
                <input type="submit" name="" style="color:transparent; border: 0px solid #000" class="aui-icon aui-icon-small-search">
                </form>
			</div>
		</div>
		<a href="#" class="aui-header-item-icon">
			<i class="aui-icon aui-icon-packet"></i>
			<i class="aui-icon aui-icon-member"></i>
		</a>
	</header>
	<div class="aui-content-box">
		<div class="aui-banner-content aui-fixed-top" data-aui-slider>
			<div class="aui-banner-wrapper">
                <foreach name="goods" item="v">
				<div class="aui-banner-wrapper-item">
						<img src="__PUBLIC__/Home/img/banner/{$v.ad_pic}">
				</div>
                </foreach>
			</div>
			<div class="aui-banner-pagination"></div>
		</div>
		<section class="aui-grid-content">
			<div class="aui-grid-row">
				<a href="my-sign.html" class="aui-grid-row-item">
					<i class="aui-icon-large aui-icon-sign"></i>
					<p class="aui-grid-row-label">每日签到</p>
				</a>
				<a href="{:U('Home/MyTime/index')}" class="aui-grid-row-item">
					<i class="aui-icon-large aui-icon-time"></i>
					<p class="aui-grid-row-label">限时抢购</p>
				</a>
				<a href="my-membership.html" class="aui-grid-row-item">
					<i class="aui-icon-large aui-icon-vip"></i>
					<p class="aui-grid-row-label">会员专享</p>
				</a>
				<a href="my-purchase.html" class="aui-grid-row-item">
					<i class="aui-icon-large aui-icon-group"></i>
					<p class="aui-grid-row-label">好货拼团</p>
				</a>
				<a href="my-invitation.html" class="aui-grid-row-item">
					<i class="aui-icon-large aui-icon-share"></i>
					<p class="aui-grid-row-label">分享领券</p>
				</a>
			</div>
		</section>
		<div class="aui-avd-content clearfix">
			<a href="#">
				<img src="__PUBLIC__/Home/img/pd/cf-1.jpg" alt="">
			</a>
			<a href="#">
				<img src="__PUBLIC__/Home/img/pd/cf-3.jpg" alt="">
			</a>
		</div>
		<div class="aui-slide-box aui-slide-box-clear">
			<div class="aui-slide-list">
				<ul class="aui-slide-item-list">
					<li class="aui-slide-item-item">
                        <!--食品-->
						<a href="{:U('Type/index')}?tid=5" class="v-link">
							<img class="v-img" src="__PUBLIC__/Home/img/ad/tou-1.jpg">
						</a>

					</li>
					<li class="aui-slide-item-item">
                        <!--家电-->
						<a href="{:U('Type/index')}?tid=7" class="v-link">
							<img class="v-img" src="__PUBLIC__/Home/img/ad/tou-2.jpg">
						</a>
					</li>
					<li class="aui-slide-item-item">
                        <!--母婴-->
						<a href="{:U('Type/index')}?tid=2" class="v-link">
							<img class="v-img" src="__PUBLIC__/Home/img/ad/tou-3.jpg">
						</a>
					</li>
					<li class="aui-slide-item-item">
                        <!--数码-->
						<a href="{:U('Type/index')}?tid=7" class="v-link">
							<img class="v-img" src="__PUBLIC__/Home/img/ad/tou-4.jpg">
						</a>
					</li>
					<li class="aui-slide-item-item">
                        <!--好书-->
						<a href="{:U('Type/index')}?tid=59" class="v-link">
							<img class="v-img" src="__PUBLIC__/Home/img/ad/tou-5.jpg">
						</a>
					</li>
					<li class="aui-slide-item-item">
                        <!--户外-->
						<a href="{:U('Type/index')}?tid=8" class="v-link">
							<img class="v-img" src="__PUBLIC__/Home/img/ad/tou-6.jpg">
						</a>
					</li>
				</ul>
			</div>

		</div>
		<div class="aui-dri"></div>
		<div class="aui-list-content">
			<div class="aui-list-item">
                <foreach name="goodsa" item="v">
				<div class="aui-list-item-img">
					<img src="__PUBLIC__/Upload/goods/{$v.ad_pic}" alt="">
				</div>
                </foreach>
                <div class="aui-slide-box">
                    <div class="aui-slide-list">
                        <ul class="aui-slide-item-list">

                            <!--一层-->
                            <foreach name="goods_info" item="v">
                            <li class="aui-slide-item-item">
                                <a href="{:U('Index/goodsdata')}?id={$v.id}" class="v-link">
                                    <img class="v-img" src="__PUBLIC__/Upload/goods/{$v.pic}">
                                    <p class="aui-slide-item-title aui-slide-item-f-els">{$v.goodsname}</p>
                                    <p class="aui-slide-item-info">
                                        <span class="aui-slide-item-price">¥{$v.sale}</span>&nbsp;&nbsp;<span class="aui-slide-item-mrk">¥{$v.price}</span>
                                    </p>
                                </a>
                            </li>
                            </foreach>
                        </ul>
                    </div>

                </div>
            </div>
			<div class="aui-list-item">
                <foreach name="goodsad" item="v">
				<div class="aui-list-item-img">
					<img src="__PUBLIC__/Upload/goods/{$v.ad_pic}" alt="">
				</div>
                </foreach>
				<div class="aui-slide-box">
					<div class="aui-slide-list">
						<ul class="aui-slide-item-list">
                            <!--二层-->
                            <foreach name="goodsy" item="v">
							<li class="aui-slide-item-item">
								<a href="{:U('Index/goodsdata')}?id={$v.id}" class="v-link">
									<img class="v-img" src="__PUBLIC__/Upload/goods/{$v.pic}">
									<p class="aui-slide-item-title aui-slide-item-f-els">{$v.goodsname}</p>
									<p class="aui-slide-item-info">
										<span class="aui-slide-item-price">¥{$v.sale}</span>&nbsp;&nbsp;<span class="aui-slide-item-mrk">¥{$v.price}</span>
									</p>
								</a>
							</li>
                            </foreach>
						</ul>
					</div>

				</div>
			</div>
			<div class="aui-list-item">
                <foreach name="goodsadd" item="v">
				<div class="aui-list-item-img">
					<img src="__PUBLIC__/Upload/goods/{$v.ad_pic}" alt="">
				</div>
                </foreach>
				<div class="aui-slide-box">
					<div class="aui-slide-list">
						<ul class="aui-slide-item-list">
                            <!--三层-->
                            <foreach name="goodsyf" item="v">
							<li class="aui-slide-item-item">
								<a href="{:U('Index/goodsdata')}?id={$v.id}" class="v-link">
									<img class="v-img" src="__PUBLIC__/Upload/goods/{$v.pic}">
									<p class="aui-slide-item-title aui-slide-item-f-els">{$v.goodsname}</p>
									<p class="aui-slide-item-info">
										<span class="aui-slide-item-price">¥{$v.sale}</span>&nbsp;&nbsp;<span class="aui-slide-item-mrk">¥{$v.price}</span>
									</p>
								</a>
							</li>
                            </foreach>
						</ul>
					</div>

				</div>
			</div>
			<div class="aui-list-item">
                <foreach name="goodsaddd" item="v">
				<div class="aui-list-item-img">
					<img src="__PUBLIC__/Upload/goods/{$v.ad_pic}" alt="">
				</div>
                </foreach>
				<div class="aui-slide-box">
					<div class="aui-slide-list">
						<ul class="aui-slide-item-list">
                            <!--四层-->
                            <foreach name="goodssf" item="v">
							<li class="aui-slide-item-item">
								<a href="{:U('Index/goodsdata')}?id={$v.id}" class="v-link">
									<img class="v-img" src="__PUBLIC__/Upload/goods/{$v.pic}">
									<p class="aui-slide-item-title aui-slide-item-f-els">{$v.goodsname}</p>
									<p class="aui-slide-item-info">
										<span class="aui-slide-item-price">¥{$v.sale}</span>&nbsp;&nbsp;<span class="aui-slide-item-mrk">¥{$v.price}</span>
									</p>
								</a>
							</li>
                            </foreach>
						</ul>
					</div>

				</div>
			</div>
		</div>
		<div class="aui-recommend">
			<img src="__PUBLIC__/Home/img/bg/icon-tj1.jpg" alt="">
			<!--<h2>为你推荐</h2>-->
		</div>
		<section class="aui-list-product">
			<div class="aui-list-product-box">
                <!--五层-->
                <foreach name="goodsList" item="v">
				<a href="{:U('Index/goodsdata')}?id={$v.id}" class="aui-list-product-item">
					<div class="aui-list-product-item-img">
						<img src="__PUBLIC__/Upload/goods/{$v.pic}" alt="">
					</div>
					<div class="aui-list-product-item-text">
						<h3>{$v.goodsname}</h3>
						<div class="aui-list-product-mes-box">
							<div>
							<span class="aui-list-product-item-price">
								<em>¥</em>
								{$v.sale}
							</span>
								<span class="aui-list-product-item-del-price">
								¥{$v.price}
							</span>
							</div>
							<div class="aui-comment">986评论</div>
						</div>
					</div>
				</a>
                </foreach>
			</div>
		</section>
	</div>

	<footer class="aui-footer-default aui-footer-fixed">
		<a href="index.html" class="aui-footer-item aui-footer-active">
			<span class="aui-footer-item-icon aui-icon aui-footer-icon-home"></span>
			<span class="aui-footer-item-text">首页</span>
		</a>
		<a href="{:U('Type/index')}" class="aui-footer-item">
			<span class="aui-footer-item-icon aui-icon aui-footer-icon-class"></span>
			<span class="aui-footer-item-text">分类</span>
		</a>
		<a href="find.html" class="aui-footer-item">
			<span class="aui-footer-item-icon aui-icon aui-footer-icon-find"></span>
			<span class="aui-footer-item-text">发现</span>
		</a>
		<a href="{:U('Home/shopping/shopping')}" class="aui-footer-item">
			<span class="aui-footer-item-icon aui-icon aui-footer-icon-car"></span>
			<span class="aui-footer-item-text">购物车</span>
		</a>
		<a href="ui-me.html" class="aui-footer-item">
			<span class="aui-footer-item-icon aui-icon aui-footer-icon-me"></span>
			<span class="aui-footer-item-text">我的</span>
		</a>
	</footer>
	<script type="text/javascript" src="__PUBLIC__/Home/js/jquery.min.js"></script>
	<script type="text/javascript" src="__PUBLIC__/Home/js/aui.js"></script>
</body>
</html>