	<include file="Common:header"/>
	<title>限时抢购</title>
</head>
<body>

	<header class="aui-header-default aui-header-fixed aui-header-bg">
		<a href="javascript:history.back(-1)" class="aui-header-item">
			<i class="aui-icon aui-icon-back-white"></i>
		</a>
		<div class="aui-header-center aui-header-center-clear">
			<div class="aui-header-center-logo">
				<div class="aui-car-white-Typeface">限时抢购</div>
			</div>
		</div>
		<a href="#" class="aui-header-item-icon"   style="min-width:0">
			<i class="aui-icon aui-icon-search"></i>
		</a>
	</header>

	<section class="aui-myOrder-content">
		<div class="m-tab demo-small-pitch aui-Time-list" data-ydui-tab>
			<div class="aui-myOrder-fix">
				<ul class="tab-nav">
					<li class="tab-nav-item tab-active">
						<a href="javascript:;">
							<span>00:00</span>
							<em>已开抢</em>
						</a>
					</li>
					<li class="tab-nav-item">
						<a href="javascript:;">
							<span>07:00</span>
							<em>已开抢</em>
						</a>
					</li>
					<li class="tab-nav-item">
						<a href="javascript:;">
							<span>09:00</span>
							<em>已开抢</em>
						</a>
					</li>
					<li class="tab-nav-item">
						<a href="javascript:;">
							<span>13:00</span>
							<em>抢购中</em>
						</a>
					</li>
					<li class="tab-nav-item">
						<a href="javascript:;">
							<span>17:00</span>
							<em>即将开抢</em>
						</a>
					</li>
				</ul>
			</div>
			<div class="aui-prompt"><i class="aui-icon aui-prompt-sm"></i>还有商品的哦！可以继续抢购的哦！</div>
			<div class="tab-panel">
				<!--0点开抢-->
				<div class="tab-panel-item tab-active">
					<ul>
						<foreach name="goods" item="g">
							<if condition="$g['buytime'] eq 0">
								<li>
									<div class="aui-list-title-info">
										<a href="javascript:;" class="aui-list-product-fl-item">
											<div class="aui-list-product-fl-img">
												<img src="__PUBLIC__/Upload/goods/{$g.pic}" alt="">
											</div>
											<div class="aui-list-product-fl-text">
												<h3 class="aui-list-product-fl-title">{$g.goodsname}</h3>
												<div class="aui-list-product-fl-mes">
													<div>
											<span class="aui-list-product-item-price">
												<em>¥</em>
												{$g.buyprice}
											</span>
														<span class="aui-list-product-item-del-price">
												¥{$g.price}
											</span>
													</div>
													<div class="aui-btn-purchase">
														仅剩{$g.buynum}件
													</div>
												</div>
											</div>
										</a>
									</div>
									<div class="aui-list-title-btn">
										<a href="{:U('goodinfo')}?id={$g.id}" class="red-color">马上抢购</a>
									</div>
								</li>
							</if>
						</foreach>
					</ul>
				</div>
				<!--7点开抢-->
				<div class="tab-panel-item ">
					<ul>
						<foreach name="goods" item="g">
							<if condition="$g['buytime'] eq 7">
								<li>
									<div class="aui-list-title-info">
										<a href="javascript:;" class="aui-list-product-fl-item">
											<div class="aui-list-product-fl-img">
												<img src="__PUBLIC__/Upload/goods/{$g.pic}" alt="">
											</div>
											<div class="aui-list-product-fl-text">
												<h3 class="aui-list-product-fl-title">{$g.goodsname}</h3>
												<div class="aui-list-product-fl-mes">
													<div>
											<span class="aui-list-product-item-price">
												<em>¥</em>
												{$g.buyprice}
											</span>
														<span class="aui-list-product-item-del-price">
												¥{$g.price}
											</span>
													</div>
													<div class="aui-btn-purchase">
														仅剩{$g.buynum}件
													</div>
												</div>
											</div>
										</a>
									</div>
									<div class="aui-list-title-btn">
										<a href="{:U('goodinfo')}?id={$g.id}" class="red-color">马上抢购</a>
									</div>
								</li>
							</if>
						</foreach>
					</ul>
				</div>
				<!--9点开抢-->
				<div class="tab-panel-item ">
					<ul>
						<foreach name="goods" item="g">
							<if condition="$g['buytime'] eq 9">
								<li>
									<div class="aui-list-title-info">
										<a href="javascript:;" class="aui-list-product-fl-item">
											<div class="aui-list-product-fl-img">
												<img src="__PUBLIC__/Upload/goods/{$g.pic}" alt="">
											</div>
											<div class="aui-list-product-fl-text">
												<h3 class="aui-list-product-fl-title">{$g.goodsname}</h3>
												<div class="aui-list-product-fl-mes">
													<div>
											<span class="aui-list-product-item-price">
												<em>¥</em>
												{$g.buyprice}
											</span>
														<span class="aui-list-product-item-del-price">
												¥{$g.price}
											</span>
													</div>
													<div class="aui-btn-purchase">
														仅剩{$g.buynum}件
													</div>
												</div>
											</div>
										</a>
									</div>
									<div class="aui-list-title-btn">
										<a href="{:U('goodinfo')}?id={$g.id}" class="red-color">马上抢购</a>
									</div>
								</li>
							</if>
						</foreach>
					</ul>
				</div>
				<!--13点开抢-->
				<div class="tab-panel-item ">
					<ul>
						<foreach name="goods" item="g">
							<if condition="$g['buytime'] eq 13">
								<li>
									<div class="aui-list-title-info">
										<a href="javascript:;" class="aui-list-product-fl-item">
											<div class="aui-list-product-fl-img">
												<img src="__PUBLIC__/Upload/goods/{$g.pic}" alt="">
											</div>
											<div class="aui-list-product-fl-text">
												<h3 class="aui-list-product-fl-title">{$g.goodsname}</h3>
												<div class="aui-list-product-fl-mes">
													<div>
											<span class="aui-list-product-item-price">
												<em>¥</em>
												{$g.buyprice}
											</span>
														<span class="aui-list-product-item-del-price">
												¥{$g.price}
											</span>
													</div>
													<div class="aui-btn-purchase">
														仅剩{$g.buynum}件
													</div>
												</div>
											</div>
										</a>
									</div>
									<div class="aui-list-title-btn">
										<a href="{:U('goodinfo')}?id={$g.id}" class="red-color">马上抢购</a>
									</div>
								</li>
							</if>
						</foreach>
					</ul>
				</div>
				<!--17点开抢-->
				<div class="tab-panel-item ">
					<ul>
						<foreach name="goods" item="g">
							<if condition="$g['buytime'] eq 17">
								<li>
									<div class="aui-list-title-info">
										<a href="javascript:;" class="aui-list-product-fl-item">
											<div class="aui-list-product-fl-img">
												<img src="__PUBLIC__/Upload/goods/{$g.pic}" alt="">
											</div>
											<div class="aui-list-product-fl-text">
												<h3 class="aui-list-product-fl-title">{$g.goodsname}</h3>
												<div class="aui-list-product-fl-mes">
													<div>
											<span class="aui-list-product-item-price">
												<em>¥</em>
												{$g.buyprice}
											</span>
														<span class="aui-list-product-item-del-price">
												¥{$g.price}
											</span>
													</div>
													<div class="aui-btn-purchase">
														仅剩{$g.buynum}件
													</div>
												</div>
											</div>
										</a>
									</div>
									<div class="aui-list-title-btn">
										<a href="{:U('goodinfo')}?id={$g.id}" class="red-color">马上抢购</a>
									</div>
								</li>
							</if>
						</foreach>
					</ul>
				</div>
			</div>
		</div>
	</section>


	<script type="text/javascript" src="__PUBLIC__/Home/js/jquery.min.js"></script>
	<script type="text/javascript" src="__PUBLIC__/Home/js/aui.js"></script>


</body>
</html>