<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no, minimal-ui"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black"/>
    <meta name="format-detection" content="telephone=no, email=no"/>
    <meta charset="UTF-8">
    <title>支付成功</title>
    <link rel="stylesheet" href="__PUBLIC__/Home/css/core.css">
    <link rel="stylesheet" href="__PUBLIC__/Home/css/icon.css">
    <link rel="stylesheet" href="__PUBLIC__/Home/css/home.css">
    <link rel="icon" type="image/x-icon" href="__PUBLIC__/Home/favicon.ico">
    <link href="__PUBLIC__/Home/iTunesArtwork@2x.png" sizes="114x114" rel="apple-touch-icon-precomposed">
</head>
<body>

<header class="aui-header-default aui-header-fixed aui-header-bg">
    <a href="javascript:history.back(-1)" class="aui-header-item">
        <i class="aui-icon aui-icon-back-white"></i>
    </a>
    <div class="aui-header-center aui-header-center-clear">
        <div class="aui-header-center-logo">
            <div class="aui-car-white-Typeface">支付成功</div>
        </div>
    </div>
    <a href="#" class="aui-header-item-icon"   style="min-width:0">
        <i class="aui-icon aui-icon-member"></i>
    </a>
</header>

<section class="aui-settle-content">
    <div style="text-align: center;margin:30px 40px;"><a href="#"  style="text-align: center;"> <span style="font-size: 20px;color: red;text-align: center;">查看订单详情</span></a></div>
    <div style="font-size: 16px;margin-left: 5px;margin-bottom: 10px;">为您推荐:</div>
    <div class="aui-list-product-box aui-list-product-box-clear">
        <a href="javascript:;" class="aui-list-product-item">
            <div class="aui-list-product-item-img">
                <img src="__PUBLIC__/Home/themes/img/pd/sf-8.jpg" alt="">
                <span class="aui-Purchase-tag">2人团</span>
            </div>
            <div class="aui-list-product-item-text">
                <h3>KOBE LETTUCE 秋冬新款 女士日系甜美纯色半高领宽松套头毛衣针织衫</h3>
                <div class="aui-list-product-mes-box">
                    <div>
							<span class="aui-list-product-item-price">
								<em>¥</em>
								399.99
							</span>
                        <span class="aui-list-product-item-del-price">
								¥495.65
							</span>
                    </div>
                    <div class="aui-comment">已团134件</div>
                </div>
            </div>
        </a>
        <a href="javascript:;" class="aui-list-product-item">
            <div class="aui-list-product-item-img">
                <img src="__PUBLIC__/Home/themes/img/pd/sf-9.jpg" alt="">
                <span class="aui-Purchase-tag">2人团</span>
            </div>
            <div class="aui-list-product-item-text">
                <h3>KOBE LETTUCE 秋冬新款 女士日系甜美纯色半高领宽松套头毛衣针织衫</h3>
                <div class="aui-list-product-mes-box">
                    <div>
							<span class="aui-list-product-item-price">
								<em>¥</em>
								399.99
							</span>
                        <span class="aui-list-product-item-del-price">
								¥495.65
							</span>
                    </div>
                    <div class="aui-comment">已团134件</div>
                </div>
            </div>
        </a>
        <a href="javascript:;" class="aui-list-product-item">
            <div class="aui-list-product-item-img">
                <img src="__PUBLIC__/Home/themes/img/pd/sf-10.jpg" alt="">
                <span class="aui-Purchase-tag">2人团</span>
            </div>
            <div class="aui-list-product-item-text">
                <h3>KOBE LETTUCE 秋冬新款 女士日系甜美纯色半高领宽松套头毛衣针织衫</h3>
                <div class="aui-list-product-mes-box">
                    <div>
							<span class="aui-list-product-item-price">
								<em>¥</em>
								399.99
							</span>
                        <span class="aui-list-product-item-del-price">
								¥495.65
							</span>
                    </div>
                    <div class="aui-comment">已团134件</div>
                </div>
            </div>
        </a>
        <a href="javascript:;" class="aui-list-product-item">
            <div class="aui-list-product-item-img">
                <img src="__PUBLIC__/Home/themes/img/pd/sf-11.jpg" alt="">
                <span class="aui-Purchase-tag">2人团</span>
            </div>
            <div class="aui-list-product-item-text">
                <h3>KOBE LETTUCE 秋冬新款 女士日系甜美纯色半高领宽松套头毛衣针织衫</h3>
                <div class="aui-list-product-mes-box">
                    <div>
							<span class="aui-list-product-item-price">
								<em>¥</em>
								399.99
							</span>
                        <span class="aui-list-product-item-del-price">
								¥495.65
							</span>
                    </div>
                    <div class="aui-comment">已团134件</div>
                </div>
            </div>
        </a>
        <a href="javascript:;" class="aui-list-product-item">
            <div class="aui-list-product-item-img">
                <img src="__PUBLIC__/Home/themes/img/pd/sf-12.jpg" alt="">
                <span class="aui-Purchase-tag">2人团</span>
            </div>
            <div class="aui-list-product-item-text">
                <h3>KOBE LETTUCE 秋冬新款 女士日系甜美纯色半高领宽松套头毛衣针织衫</h3>
                <div class="aui-list-product-mes-box">
                    <div>
							<span class="aui-list-product-item-price">
								<em>¥</em>
								399.99
							</span>
                        <span class="aui-list-product-item-del-price">
								¥495.65
							</span>
                    </div>
                    <div class="aui-comment">已团134件</div>
                </div>
            </div>
        </a>
        <a href="javascript:;" class="aui-list-product-item">
            <div class="aui-list-product-item-img">
                <img src="__PUBLIC__/Home/themes/img/pd/sf-13.jpg" alt="">
                <span class="aui-Purchase-tag">2人团</span>
            </div>
            <div class="aui-list-product-item-text">
                <h3>KOBE LETTUCE 秋冬新款 女士日系甜美纯色半高领宽松套头毛衣针织衫</h3>
                <div class="aui-list-product-mes-box">
                    <div>
							<span class="aui-list-product-item-price">
								<em>¥</em>
								399.99
							</span>
                        <span class="aui-list-product-item-del-price">
								¥495.65
							</span>
                    </div>
                    <div class="aui-comment">已团134件</div>
                </div>
            </div>
        </a>

    </div>





</section>

<include file="./Application/Home/View/Common/foot.html" />
<script type="text/javascript" src="themes/js/jquery.min.js"></script>
<script type="text/javascript" src="themes/js/aui.js"></script>
</body>
</html>